In [2]:
import pandas as pd

In [32]:
df = pd.read_excel('DonneesGPS2025.xlsx'  ,sheet_name = 'ClosePrice')

df = df[[
    'ASX200' ,
    'EUROSTOXX50' , 
    'FTSE100',	
    'SP500'	,
    'TOPIX' , 
    'Date'
]]

df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

df = df.set_index('Date')

df.head()

            ASX200  EUROSTOXX50  FTSE100    SP500    TOPIX
Date
1999-12-31     NaN      4904.46      NaN  1469.25      NaN
2000-01-03     NaN      4849.22      NaN  1455.22      NaN
2000-01-04  3093.7      4657.83  6665.86  1399.42  1717.47
2000-01-05  3018.7      4541.75  6535.90  1402.11  1651.84
2000-01-06  2999.3      4500.69  6447.24  1403.45  1609.59

In [34]:

# Définir les dates spécifiques (T0, T1, T2, T3, T4, Tc)
dates_cibles = {
    'T0': '01-05-2009',
    'T1': '01-04-2010',
    'T2': '01-04-2011',
    'T3': '01-04-2012',
    'T4': '01-04-2013',
    'Tc': '01-06-2014'
}

# Convertir les dates cibles en format datetime
dates_cibles = {key: pd.to_datetime(value) for key, value in dates_cibles.items()}

# Sélectionner les lignes du DataFrame en utilisant les dates cibles
df = df.loc[dates_cibles.values()]

# Filtrer les données pour ces dates spécifiq

df.head()

            ASX200  EUROSTOXX50  FTSE100    SP500   TOPIX
Date
2009-01-05  3687.0      2553.41  4579.64   927.45  875.91
2010-01-04  4876.3      3017.80  5500.34  1132.99  915.75
2011-01-04  4742.5      2844.17  6013.87  1270.20  911.80
2012-01-04  4187.8      2349.89  5668.45  1277.30  742.99
2013-01-04  4723.8      2709.35  6089.84  1466.47  888.51

### Calcul de Performance :

In [ ]:
def calcul_perf(nom1, nom2):

    dates_cibles = {
        'T0': '01-05-2009',
        'T1': '01-04-2010',
        'T2': '01-04-2011',
        'T3': '01-04-2012',
        'T4': '01-04-2013',
        'Tc': '01-06-2014'
    
    }

    dates_cibles = {key: pd.to_datetime(value) for key, value in dates_cibles.items()}

    # Initialiser une liste pour stocker les résultats
    res = []
    
    # Date de départ (initiale)
    date_initiale = dates_cibles['T0']
    
    # Obtenir la valeur de l'indice à la date initiale
    valeur_initiale = df.loc[date_initiale][nom1].iloc[0]
    
    # Itérer à travers les dates restantes
    for date in dates_cibles:
        # Valeur de l'indice à la date cible
        valeur_cible = df[df['Date'] == date][nom1].iloc[0]
        
        # Calcul de la performance
        performance = (valeur_cible - valeur_initiale) / valeur_initiale * 100
        
        # Ajouter la performance à la liste
        res.append(performance)
    
    df[nom2] = res





# Exemple d'utilisation de la fonction pour calculer la performance de 'ASX200'
calcul_perf('ASX200', 'PERFASX200')
df.head()

KeyError: 'Date'